/* -----navbar start----- */
*{
    padding: 0;
    margin: 0;
    

}
body{
  background-color: rgb(245, 244, 243);
}
h1.logo {
    margin: 0;
    font-size: 40px;
    padding-left: 102px;
    display: flex;
    align-items: center;
}
span.logo-a {
    font-size: 90px;
    padding-bottom: 31px;
    color: rgb(255, 106, 0);
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 35px;
}

ul li {display: inline-block;
    padding: 17px;
    font-size: 21px;
    color: rgb(245, 106, 7);
}

ul {
    padding-right: 102px;
    align-items: center;
    display: flex;
}
/* -----navber end ----- */
.section-2 img{
    width: 750px;
    clip-path: circle();
}
.top-section{
    height: 550px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 35px;
    
}
.section-1 h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: sans-serif;
}
.section-1{
    padding-left: 102px;
    padding-top: 115px;
}

.section-1 p {
    width: 500px;
    font-size: 18px;
    margin-top: 18px;
}

.section-1 button {
    font-size: 20px;
    padding: 6px 20px;
    margin-top: 30px;
    border-radius: 25px;
    background: rgb(248, 105, 3);
    font-weight: 900;
    color: white;
}
/* ------------shope logos---------- */
.shop-logo {
    width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 2px solid #e8dbdb;
    padding: 21px;
    border-bottom: 2px solid #e8dbdb;
}
.top-sections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1100px;
    margin: auto;
}
section.shop-collection {
    padding-top: 110px;

}

.collection-header {
    width: 327px;
    margin: auto;
    font-size: 24px;
    font-family: sans-serif;
    color: #3b3838;
    padding-bottom: 60px;
}
.all-collection {
    background: white;
    padding: 20px;
    margin: 20px 13px;
    border-radius: 10px;
}
.collection-details h2 {
    font-size: 32px;
    font-family: sans-serif;
    padding-top: 13px;
    padding-bottom: 15px;
}
span.spans {
    font-size: 31px;
}
.all-star i {
    font-size: 12px;
    color: orange;
    padding-top: 20px;
}
.all-star span{
      font-size: 17px;
      padding-left: 10px;
      font-family: sans-serif;
      font-weight: 700;
}
.detailss {
    padding-top: 12px;
    color: #4e4848;
    font-size: 17px
}
h3.see-more {
    width: 82px;
    bottom: 0;
    position: relative;
    left: 965px;
    padding: 10px 17px;
    border-radius: 10px;
    margin-top: 19px;
    color: orangered;
}
/* ------fotter sections start------ */
.Fotter-details h2 {
    width: 310px;
    font-size: 33px;
    font-family: sans-serif;
    color: rgb(250, 232, 232);
    margin: auto;
}
.Fotter-details p {
    width: 338px;
    color: rgb(255, 234, 234);
    margin: auto;
    font-size: 22px;
    padding-top: 5px;
}

.Fotter-details h3 {
    width: 149px;
    color: rgb(255, 234, 234);
    margin: auto;
    padding-top: 5px;
}
.fotter-icon i {
    font-size: 24px;
    padding: 20px;
    color: rgb(250, 233, 233);
}
.fotter-icon {
    width: 201px;
    margin: auto;
}
.fotter-section{
    background-color: #0a0826;
}
.fotter-detail{
      padding-top: 50px;
      padding-bottom: 50px;
      
}
.fotter-section{
    margin-top: 50px;
}
/* -------fotter sections end-------- */


@media only screen and (max-width: 480px) {
    body {
        background-color: lightblue;
        
    }
    .container{
        width: 100%;
    }
    .top-section{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        
    }
    .section-2{
        padding-top: 50px;
    }
    .top-sections{
        grid-template-columns: repeat(1, 1fr);
    }
.shop-collection{
    margin-top: 340px;
    margin-left: 220px;

    
}
.all-collection{
    width:305px;
}


    .prio-shop{
        display: none;
    }
    nav{
        display: none;
    }
   
  }
  
